@charset "UTF-8";
/*	GothamPro bold */
/* Roboto Light */

@font-face {
  font-family: Roboto;
  src: url('/fonts/Roboto-Light/Roboto-Light.eot') format('eot'),
      url("/fonts/Roboto-Light/Roboto-Light.eot#iefix") format("embedded-opentype"),
      url('/fonts/Roboto-Light/Roboto-Light.woff') format('woff'),
      url('/fonts/Roboto-Light/Roboto-Light.ttf') format('truetype'),
      url('/fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: GothamPro;
  src: url("/fonts/GothamPro-Bold/GothamPro-Bold.eot?") format("eot"), url("/fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/GothamPro-Bold/GothamPro-Bold.otf") format("opentype"), url("/fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("/fonts/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype"), url("/fonts/GothamPro-Bold/GothamPro-Bold.svg#GothamPro") format("svg");
  font-weight: 700;
  font-style: normal; }
/* Roboto Light */
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Light/Roboto-Light.eot?") format("eot"), url("/fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("/fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("/fonts/Roboto-Light/Roboto-Light.svg#GothamPro") format("svg");
  font-weight: 300;
  font-style: normal; }
ul, ol {
  padding: 0;
  margin: 0; }

* {
  outline: 0 !important; }

li {
  list-style-type: none; }

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
  line-height: normal;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

a, a:hover, a:focus, a:active {
  text-decoration: none; }

body {
  line-height: normal;
  color: #000;
  height: 100%;
  background-color: #fff;
  font-family: GothamPro; }

.container {
  width: 1200px;
  max-width: 1200px; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.page-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-width: 320px; }

.page-wrapper .total-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }
  .page-wrapper .total-bg .wrapp {
    position: relative;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    max-width: 1200px; }
    .page-wrapper .total-bg .wrapp .line-bg {
      -webkit-transition: opacity 2s ease 0.1s;
      -o-transition: opacity 2s ease 0.1s;
      transition: opacity 2s ease 0.1s; }
      .page-wrapper .total-bg .wrapp .line-bg .line {
        position: absolute;
        width: 1px;
        height: 100%;
        background: #eeeeee; }
      .page-wrapper .total-bg .wrapp .line-bg .show1000 {
        display: block !important; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l1 {
        left: 0%; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l2 {
        left: 16.6%; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l3 {
        left: 33.3%; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l4 {
        left: 50%; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l5 {
        right: 33.3%; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l6 {
        right: 16.6%; }
      .page-wrapper .total-bg .wrapp .line-bg .line.l7 {
        right: 0%; }

.content {
  flex: 1 0 auto; }

footer {
  flex: 0 0 auto; }
  footer .copyright {
    font-family: Roboto;
    font-weight: 300;
    color: #333333;
    font-size: 16px;
    padding: 0px 0 25px;
    letter-spacing: -0.12px; }

.logo {
  padding: 37px 7px; }

ul.main_menu {
  display: block;
  padding: 49px 0 0;
  float: right; }
  ul.main_menu li {
    display: inline-block; }
  ul.main_menu a {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    padding: 12px 0 14px 50px;
    display: block; }
    ul.main_menu a::before, ul.main_menu a.active::before {
      width: 0px;
      height: 5px;
      background-color: #ff3221;
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s; }
    ul.main_menu a:hover::before, ul.main_menu a.active::before {
      width: 30px; }

section.sprite {
  padding: 40px 0 70px; }
  section.sprite p.main_title {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding-bottom: 31px; }
  section.sprite p.caption {
    color: #303030;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: Roboto;
    font-weight: 300; }
  section.sprite p.title {
    color: #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    position: relative;
    margin-top: 70px;
    padding: 20px 0 15px; }
  .thumbnail {
    padding: 0;
    margin-top: 0;
    line-height: normal;
    background-color: transparent;
    border: 0;
    border-radius: 0; }
    section.sprite p.title::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #333333; }
  section.sprite p.code {
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    font-size: 0; }
  section.sprite .copy_block,
  section.sprite .copy_block1,
  section.sprite .copy_block2,
  section.sprite .copy_block3,
  section.sprite .copy_block4,
  section.sprite .copy_block5,
  section.sprite .copy_block6,
  section.sprite .copy_block7,
  section.sprite .copy_block8 {
    font-size: 0; }
  section.sprite .copy {
    cursor: pointer;
    position: relative; }
  section.sprite .copy.bg.big {
    background-color: #eeeeee;
    margin: 15px 15px; }
  section.sprite .copy.bg.big:nth-child(6n+1) {
    margin-left: 0; }
  section.sprite .copy.bg.big:nth-child(6n) {
    margin-right: 0; }
    section.sprite .copy.bg.big:after {
      position: absolute;
      content: 'Копировать';
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      text-align: center;
      padding: 22px 0 22px 30px;
      background: url(/images/copy.svg) no-repeat 18px 17px;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      font-family: GothamPro;
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
      z-index: 2; }
    section.sprite .copy.bg.big:hover::after {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }
  section.sprite .copy.bg.small {
    background-color: #eeeeee;
    padding: 10px 0;
    margin: 15px 15px;
    width: 70px;
    height: 60px;
    text-align: center; }
section.sprite .copy.bg.small:first-child {
  margin-left: 0; }
section.sprite .copy.bg.small:nth-child(12n+1) {
  margin-left: 0; }
section.sprite .copy.bg.small:nth-child(12n) {
  margin-right: 0; }
    section.sprite .copy.bg.small svg {
      margin: auto; }
    section.sprite .copy.bg.small:after {
      position: absolute;
      content: '';
      top: 0;
      width: 100%;
      height: 100%;
      left: 0;
      text-align: center;
      padding: 22px 0 22px 30px;
      background: url(/images/copy.svg) no-repeat center;
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      font-family: GothamPro;
      font-size: 16px;
      font-weight: 700;
      color: #ffffff;
      z-index: 2; }
    section.sprite .copy.bg.small:hover::after {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }
  section.sprite .text {
    padding: 15px 0 0 0;
    color: #333333;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px; }
    section.sprite .text p.title {
      font-family: GothamPro; }
    section.sprite .text ul li {
      position: relative;
      padding: 15px 0 15px 25px; }
      section.sprite .text ul li b {
        color: #ff3221; }
      section.sprite .text ul li:before {
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        top: 22px;
        left: 0;
        background-color: #fff;
        border: 3px solid #ff3221;
        border-radius: 100px; }

.modal-content {
  width: 570px;
  border-radius: 0;
  padding: 30px 35px;
  text-align: center;
  border: 0; }
  .modal-content p {
    font-size: 24px;
    color: #333333;
    line-height: 30px;
    font-weight: 700;
    text-align: center; }
  .form-control {
    color: #333333;
    font-family: Roboto;
    font-size: 16px;
  }
.colorpicker {
  padding: 0;
  min-width: 130px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 10;
  display: block; }
.colorpicker:after,
.colorpicker:before {
  display: none;
}
input#color,
input#color2,
input#color3,
input#color4,
input#color5,
input#color6,
input#color7,
input#color8 {
  width: 175px;
}
.caption .form-group label {
  font-family: Roboto;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
}
.input-group .input-group-addon {
  padding: 0;
  display: inline-block;
}
.thumbnail .caption {
  padding: 0;
}
p#example {
  font-size: 0; }
input#copy {
  border: 0;
  width: 50%;
}
.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i {
  border: 1px solid #cecece;
}
.download img {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
}
































/*# sourceMappingURL=style.css.map */
